body {
	background-color: #DDDDDD;
	font-family: Verdana;
}

.title {
	font-size: 48px;
	font-weight: strong;
	width: 1000px;
	text-align: center;
}

.split-left {
	float: left;
	width: 55%;
}

.split-right {
	float: left;
	width: 40%;
}

.colour-btn {
	width: 100px;
	margin-right: 10px; 
}

.colour-option {
	float: left;
	width: 20px;
	height: 20px;
	border: 2px solid black;
	margin-right: 3px;
}

.colour-display {
	float: left;
	text-align: center;
	width: 70px;
	font-size: 48px;
	margin-right: 10px;
	background-color: black;
}

.info-container  > span {
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 24px;
	font-weight: bold;
}

.graph {
	border: 1px solid black;
	margin: 10px 20px 10px 20px;
	position: relative;
	width: 1000px;
	height: 800px;
	background-color: #BBBBBB;
	padding: 0;
}

.player-name {
	float: left;
	font-size: 32px;
	text-align: right;
	width: 175px;
	margin-right: 20px;
}

.bar {
	float: left;
	margin-top: 2px;
	margin-bottom: 2px;
}

.bar-number {
	width: 100%;
	font-size: 40px;
	text-align: right;
}

.first-player {
	background-color: white;
}

.vertical-line {
	width: 3px;
	background-color: black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 192px;
}

.endgame-stats {
	border: 2px solid black;
	width: 500px;
}

.min-roll {
	background-color: #EE2200;
}

.max-roll {
	background-color: #00EE22;
}

thead > tr > td {
	font-weight: bold;
}

td {
	border: 1px solid black;
}